---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import MothCard from "../components/MothCard.astro";
import mothData from "../assets/mothData.json";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<div class="flex flex-col justify-content items-center gap-5 p-10">
		<h2 class="text-xl">WELCOME TO</h2>
		<h1 class="text-5xl font-bold">MY MOTH PAGE</h1>
		<img class="rounded-lg" src="/collage.gif" />
	</div>
</Layout>
