---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import MothCard from "../components/MothCard.astro";
import mothData from "../assets/mothData.json";
---

<Layout>
	<Header />
	<div class="flex flex-row flex-wrap gap-5 justify-center items-center p-5">
		{
			mothData.map((moth) => (
				<MothCard title={moth.name} description={moth.description} image={moth.image} />
			))
		}
	</div>
</Layout>
