---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ABYSSALMOTHZ</title>
	</head>
	<body>
		<img
			style="z-index: 1500"
			class="animate-pulse animate-ping animate-bounce pointer-events-none transform-none fixed p-5 mix-blend-hard-light justify-self-center"
			src="../../public/light.png"
			id="light"
			width={150}
		/>
		<slot />
		<Footer />
	</body>
</html>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		let mouseCircle = document.getElementById("light"),
			mousePosX = window.innerWidth/2,
			mousePosY = window.innerHeight/2,
			elementWidth = mouseCircle?.offsetWidth;

		document.onmousemove = (e) => {
			mousePosX = e.pageX;
			mousePosY = e.pageY;
		};

		let delay = 10,
			revisedMousePosX = 0,
			revisedMousePosY = 0;

		function delayMouseFollow() {
			requestAnimationFrame(delayMouseFollow);

			revisedMousePosX += (mousePosX - revisedMousePosX) / delay;
			revisedMousePosY += (mousePosY - revisedMousePosY) / delay;

			if (mouseCircle && elementWidth) {
				mouseCircle.style.top = revisedMousePosY - elementWidth / 2 + "px";
				mouseCircle.style.left = revisedMousePosX - elementWidth / 2 + "px";
			}
		}
		delayMouseFollow();
	});
</script>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--primary-color);
	}
</style>
